				<div class="footer" role="contentinfo">
					<div class="container">
						<div class="footer__inner">
							<div class="footer__common">
								<div class="row">
									<div class="col-12 col-sm-6">
										<div class="footer__box pb-3 pb-sm-0">
											<ul>
												<li><a href="https://portal.gov.cz/prohlaseni-o-pristupnosti/">Prohlášení o přístupnosti</a></li>
												<li><a href="https://www.gov.cz/odkazy/souhlas">Informace o zpracování osobních údajů</a></li>
											</ul>
										</div>
									</div>
									<div class="col-12 col-sm-6">
										<div class="footer__box">
											<p class="footer__brand">
												2017&nbsp;&copy; Ministerstvo vnitra • Informace jsou poskytovány v&nbsp;souladu se zákonem č.&nbsp;106/1999&nbsp;Sb., o&nbsp;svobodném přístupu k&nbsp;informacím.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
