		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{%- seo -%}
		<link rel="stylesheet" media="screen" href="/assets/css/front.css">
		<link rel="stylesheet" media="print" href="/assets/css/print.css">
		<link rel="shortcut icon" href="/assets/images/meta/favicon.ico?v=knceasdft">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/meta/apple-touch-icon.png?v=knceasdft">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/meta/favicon-32x32.png?v=knceasdft">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/meta/favicon-16x16.png?v=knceasdft">
		<link rel="manifest" href="/assets/images/meta/manifest.json?v=knceasdft">
		<link rel="mask-icon" href="/assets/images/meta/safari-pinned-tab.svg?v=knceasdft" color="#2362a2">
		<link rel="help" href="/README" title="Documentation for this web site">
		<meta name="msapplication-config" content="/assets/images/meta/browserconfig.xml?v=knceasdft">
		<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
		<meta name="application-name" content="{{ site.title }}">
		<meta name="theme-color" content="#2362a2">
		<script src="/assets/js/js-toggle.js"></script>
		{%- feed_meta -%}
