		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{%- seo -%}
		<link rel="stylesheet" media="screen" href={{"/assets/css/front.css" | relative_url }}>
		<link rel="stylesheet" media="print" href={{"/assets/css/print.css" | relative_url }}>
		<link rel="shortcut icon" href={{"/assets/images/meta/favicon.ico?v=knceasdft" | relative_url }}>
		<link rel="apple-touch-icon" sizes="180x180" href={{"/assets/images/meta/apple-touch-icon.png?v=knceasdft" | relative_url }}>
		<link rel="icon" type="image/png" sizes="32x32" href={{"/assets/images/meta/favicon-32x32.png?v=knceasdft" | relative_url }}>
		<link rel="icon" type="image/png" sizes="16x16" href={{"/assets/images/meta/favicon-16x16.png?v=knceasdft" | relative_url }}>
		<link rel="manifest" href={{"/assets/images/meta/manifest.json?v=knceasdft" | relative_url }}>
		<link rel="mask-icon" href={{"/assets/images/meta/safari-pinned-tab.svg?v=knceasdft" color="#2362a2" | relative_url }}>
		<meta name="msapplication-config" content={{"/assets/images/meta/browserconfig.xml?v=knceasdft" | relative_url }}>
		<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
		<meta name="application-name" content="{{ site.title }}">
		<meta name="theme-color" content="#2362a2">
		<script src={{"/assets/js/js-toggle.js" | relative_url }}></script>
		{%- feed_meta -%}
