				<h1 class="hidden">{{ site.title }}}</h1>
				{% if page.layout == 'home' %}<div class="header header--hp" role="banner">
				{% else %}<div class="header" role="banner">{% endif %}
					<noscript>
						<div class="container pl-0 pr-0">
							<div class="row">
								<div class="col">
									<div class="js-disclaimer">
										<div class="alert alert--border alert-warning">
											Máte vypnutý nebo nedostupný JavaScript.
										</div>
									</div>
								</div>
							</div>
						</div>
					</noscript>
					<div class="container">
						<div class="header__inner">
							<div class="row">
								{% if page.layout == 'home' %}
								<div class="col-md-12 order-md-6">
									<div class="header--title hidden-tablet">
										<h2>{{ site.title }}</h2>
									</div>
								</div>
								{% endif %}
								<div class="col-md-8 col-lg-6 order-md-3">
									<div class="navigation">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>